:root {
    --verde-oscuro: #1a3a32;
    --verde-claro: #d8f3dc;
    --verde-acento: #74c69d;
}

.seccion-ubicaciones {
    background-color: #f0f7f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabla-contenedor {
    max-height: 1800px;
    margin: 40px auto;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--verde-acento) transparent;
    
}

.table thead th {
    
    position: sticky;
    top: 0;
    z-index: 10;
    border: none;
}
#tabla-sedes {
    font-size: 1.05rem; /* 🔥 más grande */
}

#tabla-sedes thead th {
    font-size: 1.1rem;
    padding: 14px;
}

#tabla-sedes tbody td {
    padding:
     16px;
}
#tabla-sedes tbody tr {
    height: auto;
}
#tabla-sedes td,
#tabla-sedes th {
    vertical-align: middle;
}
.punto-fila data-img{
    width:200%;
    height:100%;
    object-fit: cover; /*  hace que TODAS tengan mismo tamaño */

   
}
.punto-fila {
    cursor: pointer;
    transition: all 0.2s ease;
    width: 300px;
    height: 100px
  
}
.punto-fila td:first-child {
    font-size: 1.1rem;
    font-weight: 700;
}

.punto-fila:hover {
    background-color: #a2afa6 !important;
}

.punto-fila.active {
    background-color: var(--verde-claro) !important;
     border-left: 1px solid var(--verde-oscuro) !important;
}

#mapa-visor {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.visor-card {
    border: none;
    border-radius: 20px;
    background: white;
}

.btn-google {
    background-color: var(--verde-oscuro);
    color: white;
    border-radius: 50px;
    transition: transform 0.2s;
}

.btn-google:hover {
    background-color: #2d6a4f;
    color: white;
    transform: translateY(-2px);
}


/* =========================
   DESKTOP GRANDES
========================= */
@media (min-width: 1200px) {

    .container{
        max-width:1140px;
        width:100%;
        margin:auto;
    }

}
/* =========================
   LAPTOPS Y TABLETS GRANDES
========================= */
@media (min-width: 992px) and (max-width: 1199px) {

    .container{
        max-width:960px;
        width:100%;
        margin:auto;
    }

}
/* =========================
   TABLETS
========================= */
@media (min-width: 768px) and (max-width: 991px) {

    .container{
        max-width:720px;
        width:100%;
        margin:auto;
        padding-left:15px;
        padding-right:15px;
    }

}

/* =========================
   CELULARES
========================= */
@media (max-width: 767px) {

    .container{
        width:100%;
        padding-left:15px;
        padding-right:15px;
    }

}